.custom-list {
    list-style: none;
    padding-left: 0;
}
.custom-list li::marker {
    content: url('image/logo.png');
}

.hustler-image {
    width: 45%;
    min-height: 70vh;
    background-image: url('/images/hustle.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .hustler-image {
        width: 100%;
        min-height: 50vh;
    }
}